<body>
	<nav class="navbar navbar-expand-lg navbar-ligth bg-light">
		<a class="navbar-brand" href="/principal">
			<img src="/img/180.jpg" width="60" height="40" class="d-inline-block align-top" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-togget="#navbarNav"
			arial-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!--<div class="collapse=navbar-collapse" id="navbarNav">-->
		<div class="container2">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/cliente">Cliente</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/consulta_cliente">Consultar Clientes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pedido">Pedido</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/consulta_pedido">Consultar Pedidos</a>
				</li>
			</ul>
		</div>
		</div>
	</nav>


	<style>
		.container2 {
			flex: 12%;
			display: flex;
			list-style: none;
			gap: 50px;
			font-size: 18px;
			align-items: center;
			justify-content: center;
		}

		.nav-item a {
			text-decoration: none;
			cursor: pointer;
			color: black;
		}
		form{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			
		}
		
		
	
	</style>
</body>