<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:th="http://.thymeleaf.orf">


<head th:insert="~{layout/cabecalho}">
	<meta charset="ISO-8859-1" />

	<title>Pagina De Pedidos</title>
</head>

<body>
	<div th:insert="~{layout/menu}"></div>

	<form class="form-horizontal" method="post" th:action="@{/alterar_pedido}" th:object="${PedidoEntity}">
		<input class="form-control" type="hidden" maxlength="50" name="idPedido" th:value="${idPedido}">
		<input class="form-control" type="hidden" maxlength="50" name="cliente" th:value="${pedido.cliente.idCliente}">


		<div class="container">
			<h2>Pedidos</h2>
			<div class="container">
				<div class="alert alert-sucess" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>




				<div class="mb-3">
					<label for="numPedido" class="form-label">Nº pedido</label>
					<input type="text" name="numPedido" id="numPedido" class="form-control"
						th:value="${pedido.numPedido}">
				</div>

				<div class="mb-3">
					<label for="numPedidoVendedor" class="form-label">Nº pedido(Vendedor)</label>
					<input type="text" name="numPedidoVendedor" id="numPedidoVendedor" class="form-control"
						th:value="${pedido.numPedidoVendedor}">
				</div>

				<div class="mb-3">
					<label for="vendedor" class="form-label">Vendedor</label>
					<input type="text" name="vendedor" id="vendedor" class="form-control" th:value="${pedido.vendedor}">
				</div>

				<div class="mb-3">
					<label for="loja" class="form-label">Loja</label>
					<input type="text" name="lojaVendedor" id="lojaVendedor" class="form-control"
						th:value="${pedido.lojaVendedor}">
				</div>

				<div class="mb-3">
					<label for="intermediador" class="form-label">Passado Por:</label>
					<input type="text" name="intermediador" id="intermediador" class="form-control"
						th:value="${pedido.intermediador}">
				</div>

				<div class="mb-3">
					<label for="dataPedido" class="form-label">Data Pedido</label>
					<input type="date" name="dataPedido" id="dataPedido" class="form-control"
						th:value="${pedido.dataPedido}">
				</div>

				<div class="mb-3">
					<label for="dataAgendamento" class="form-label">Data de Execução</label>
					<input type="date" name="dataAgendamento" id="dataAgendamento" class="form-control"
						th:value="${pedido.dataAgendamento}">
				</div>

				<div class="mb-3">
					<label for="mercadoria" class="form-label">Mercadoria</label>
					<input type="text" name="mercadoria" id="mercadoria" class="form-control"
						th:value="${pedido.mercadoria}">
				</div>

				<div class="mb-3">
					<label for="tipoServicos" class="form-label">Tipo de Serviço:</label>
					<input type="text" name="tipoServicos" id="tipoSevicos" class="form-control"
						th:value="${pedido.tipoServicos}">
				</div>

				<div class="mb-3">
					<label for="valor" class="form-label">Valor</label>
					<input type="text" name="valor" id="valor" class="form-control" placeholder="999.99"
						th:value="${pedido.valor}">
				</div>
				<div class="mb-3">
					<label for="status" class="form-label">Status</label>
					<input type="text" name="statusAgendamento" id="status" class="form-control"
						placeholder="Agendado ou Não Agendado" th:value=" ${pedido.statusAgendamento}">
				</div>
				<div class="form-group">
					<label for="observacao">Observações</label>
					<textarea class="form-control" name="observacao" id="observacao" rows="3"
						th:field="${pedido.observacao}"></textarea>
				</div>


				<div class="mb-3">
					<button type="submit" class="btn btn-success form-control">Enviar</button>
				</div>

			</div>
		</div>


	</form>



</body>

</html>