<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:th="http://.thymeleaf.orf">

<link rel="stylesheet" href="style.css">

<head th:insert="~{layout/cabecalho}">
	<meta charset="ISO-8859-1" />

	<title>Pagina Remarketing</title>
</head>

<body id="body-pd">
	<div th:insert="~{layout/menu}"></div>

	<div class="container">
		<br>
		<h5 class="card-title"> Clientes Para Remarketing</h5>
		<br>
		<div class="container">
			<table id="example" class="table table-striped" style="width:100%">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Telefone</th>
						<th>Mercadoria</th>
						<th>Data ultimo Pedido</th>
						<th>Data Agendamento</th>


						<th class="col-1"></th>



					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido  : ${pedidos}">
						<td th:text="${pedido.cliente.Nome + ' ' + pedido.cliente.sobrenome}"></td>
						<td th:text="${pedido.cliente.telefone}"></td>
						<td th:text="${pedido.cliente.mercadoria}"></td>
						<td th:text="${pedido.dataPedido}"></td>
						<td th:text="${pedido.dataAgendamento}"></td>



						<td> <a class="btn btn-sm btn-primary"
								th:href="@{pedido/{idCliente}(idCliente=${cliente.IdCliente})}">Fazer Pedido</a>
						</td>
					</tr>
				</tbody>
			</table>
			<script>
				new DataTable('#example', {
					language: {
						url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/pt-BR.json',
					},
					layout: {
						topStart: {
							buttons: [
								{
									extend: 'pdf',
									split: ['excel', 'print']
								}
							]
						}
					}
				});
			</script>
		</div>
	</div>





	<div th:insert="~{layout/rodape}"></div>
</body>

</html>